@model GrandPaClub42.Models.GrandPa

<h2>@Model.DisplayName</h2>

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h5><label>Notoriety name:</label> @Model.DisplayNick</h5>
			<h5><label>Age :</label> @Model.Age</h5>
		</div>
			<h5>Nickname:</h5>
			<div>@Model.NickName</div>
			<h5>Description:</h5>
			<div>@Model.DisplayInfo</div>
	</div>
	<div class="col-md-6">
		<img src="/Images/@Model.GetImageID"
			alt="@Model.DisplayName" class="img-responsive" />
	</div>
</div>
