@model GrandPaClub42.Models.GrandPa[]

@{
    ViewData["Title"] = "The Amazing GrandPas";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var grandPa in Model)
    {
        <div class="col-md-5">
            <h4>@Html.ActionLink(grandPa.DisplayName, "Detail", new {id = grandPa.Id})</h4>
            <a href="@Url.Action( "Detail", new {id = grandPa.Id} )">
                <div> @grandPa.GetImageID</div>
                <img src="/Images/@grandPa.GetImageID"
                    alt="@grandPa.DisplayName" 
                    class="img-responsive" />
            </a>
        </div>
    }
</div>